{
  "swagger": "2.0",
  "info": {
    "description": "한국자산관리공사에서 운영하는 온비드(Onbid)에 등록된 부동산 공매 물건을 물건관리번호(필수), 공매조건번호(옵션)로 조회하여 소재지, 면적상세, 최저입찰금액, 감정평가정보목록, 사진목록 등 상세 정보를 확인할 수 있는 서비스입니다. 현재 입찰 중이거나 입찰예정인 부동산만 조회할 수 있습니다. \n온비드 부동산 물건목록 조회 서비스에서 제공되는 물건관리번호(cltrMngNo), 공매조건번호(pbctCdtnNo)를 이용하여 상세한 정보를 조회할 수 있습니다.필수 입력 조건 : 물건관리번호(cltrMngNo)",
    "version": "1.0.0",
    "title": "한국자산관리공사_차세대 온비드 부동산 물건상세 조회서비스"
  },
  "host": "apis.data.go.kr/B010003/OnbidRlstDtlSrvc2",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/getRlstDtlInf2": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "pbctStatNm": {
                              "type": "string",
                              "description": "입찰결과구분코드명 (0001 : 입찰준비중, 0002 : 입찰진행중, 0003 : 입찰마감, 0006 : 개찰중, 0009 : 수의계약가능, 0010 : 낙찰, 0011 : 유찰, 0012 : 취소)",
                              "properties": {}
                            },
                            "pbctCdtnNo": {
                              "type": "integer",
                              "description": "공매조건번호(물건 상세정보나 입찰정보 조회시 물건관리번호와 함께 입력 필요)",
                              "properties": {}
                            },
                            "cltrMngNo": {
                              "type": "string",
                              "description": "물건관리번호",
                              "properties": {}
                            },
                            "onbidCltrno": {
                              "type": "integer",
                              "description": "온비드물건번호",
                              "properties": {}
                            },
                            "onbidPbancNo": {
                              "type": "integer",
                              "description": "온비드공고번호",
                              "properties": {}
                            },
                            "sqmsList": {
                              "type": "array",
                              "description": "면적정보목록",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "clandCont": {
                                    "type": "string",
                                    "description": "종별(지목)",
                                    "properties": {}
                                  },
                                  "sqmsCont": {
                                    "type": "string",
                                    "description": "면적(㎡)",
                                    "properties": {}
                                  },
                                  "pursAlcCont": {
                                    "type": "string",
                                    "description": "지분",
                                    "properties": {}
                                  },
                                  "dtlCltrNm": {
                                    "type": "string",
                                    "description": "비고",
                                    "properties": {}
                                  }
                                }
                              }
                            },
                            "apslEvlClgList": {
                              "type": "array",
                              "description": "감정평가정보목록",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "apslEvlOrgNm": {
                                    "type": "string",
                                    "description": "감정평가기관",
                                    "properties": {}
                                  },
                                  "apslApprNm": {
                                    "type": "string",
                                    "description": "감정평가사명",
                                    "properties": {}
                                  },
                                  "apslEvlYmd": {
                                    "type": "string",
                                    "description": "평가일(yyyyMMdd)",
                                    "properties": {}
                                  },
                                  "apslEvlAmt": {
                                    "type": "integer",
                                    "description": "감정평가금액(원)",
                                    "properties": {}
                                  },
                                  "urlAdr": {
                                    "type": "string",
                                    "description": "감정평가서첨부파일 URL",
                                    "properties": {}
                                  }
                                }
                              }
                            },
                            "leasInfList": {
                              "type": "array",
                              "description": "임대차정보목록(감정평가서 및 배분요구서 기준)(재산유형코드가 압류재산(0007)인 경우만 표시)",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "irstDivNm": {
                                    "type": "string",
                                    "description": "임대차내용",
                                    "properties": {}
                                  },
                                  "cltrInprNm": {
                                    "type": "string",
                                    "description": "성명",
                                    "properties": {}
                                  },
                                  "bidGrteeAmt": {
                                    "type": "integer",
                                    "description": "보증금액(원)",
                                    "properties": {}
                                  },
                                  "mthrAmt": {
                                    "type": "number",
                                    "description": "차임(월세금액)(원)",
                                    "properties": {}
                                  },
                                  "convGrteeAmt": {
                                    "type": "number",
                                    "description": "환산보증금액(원)",
                                    "properties": {}
                                  },
                                  "cfmtnYmd": {
                                    "type": "string",
                                    "description": "확정일자(yyyyMMdd)",
                                    "properties": {}
                                  },
                                  "mvinYmd": {
                                    "type": "string",
                                    "description": "전입일자(yyyyMMdd)",
                                    "properties": {}
                                  }
                                }
                              }
                            },
                            "rgstPrmrInfList": {
                              "type": "array",
                              "description": "등기사항증명서 주요정보 목록(재산유형코드가 압류재산(0007)인 경우만 표시)",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "inprStngAmt": {
                                    "type": "integer",
                                    "description": "설정금액(원)",
                                    "properties": {}
                                  },
                                  "irstDivNm": {
                                    "type": "string",
                                    "description": "권리종류명",
                                    "properties": {}
                                  },
                                  "cltrInprNm": {
                                    "type": "string",
                                    "description": "권리자명",
                                    "properties": {}
                                  },
                                  "rgstYmd": {
                                    "type": "string",
                                    "description": "등기 설정일자(yyyyMMdd)",
                                    "properties": {}
                                  }
                                }
                              }
                            },
                            "bidMthodCd": {
                              "type": "string",
                              "description": "세부입찰방식코드 (0001 : 최고가방식, 0002 : 호가방식, 0003 : 평가방식, 0004 : 추첨방식, 0005 : 시담방식, 0006:적정최고가방식, 0007:제한적최고가방식)",
                              "properties": {}
                            },
                            "bidMthodNm": {
                              "type": "string",
                              "description": "세부입찰방식코드명 (0001 : 최고가방식, 0002 : 호가방식, 0003 : 평가방식, 0004 : 추첨방식, 0005 : 시담방식, 0006:적정최고가방식, 0007:제한적최고가방식)",
                              "properties": {}
                            },
                            "cptnMthodCd": {
                              "type": "string",
                              "description": "입찰방식코드(0001 : 일반경쟁, 0002 : 제한경쟁, 0003 : 지명경쟁, 0004 : 수의계약)",
                              "properties": {}
                            },
                            "cptnMthodNm": {
                              "type": "string",
                              "description": "입찰방식코드명(0001 : 일반경쟁, 0002 : 제한경쟁, 0003 : 지명경쟁, 0004 : 수의계약)",
                              "properties": {}
                            },
                            "totalamtUnpcDivCd": {
                              "type": "string",
                              "description": "총액/단가구분코드(0001 : 총액, 0002 : 단가)",
                              "properties": {}
                            },
                            "totalamtUnpcDivNm": {
                              "type": "string",
                              "description": "총액/단가구분명(0001 : 총액, 0002 : 단가)",
                              "properties": {}
                            },
                            "bidDivCd": {
                              "type": "string",
                              "description": "입찰구분코드 (0001:인터넷, 0002:현장)",
                              "properties": {}
                            },
                            "bidDivNm": {
                              "type": "string",
                              "description": "입찰구분코드명 (0001:인터넷, 0002:현장)",
                              "properties": {}
                            },
                            "cltrUsgLclsCtgrId": {
                              "type": "string",
                              "description": "용도대분류코드",
                              "properties": {}
                            },
                            "cltrUsgMclsCtgrId": {
                              "type": "string",
                              "description": "용도중분류코드",
                              "properties": {}
                            },
                            "cltrUsgSclsCtgrId": {
                              "type": "string",
                              "description": "용도소분류코드",
                              "properties": {}
                            },
                            "cltrUsgLclsCtgrNm": {
                              "type": "string",
                              "description": "용도대분류코드명",
                              "properties": {}
                            },
                            "cltrUsgMclsCtgrNm": {
                              "type": "string",
                              "description": "용도중분류코드명",
                              "properties": {}
                            },
                            "cltrUsgSclsCtgrNm": {
                              "type": "string",
                              "description": "용도소분류코드명",
                              "properties": {}
                            },
                            "onbidCltrNm": {
                              "type": "string",
                              "description": "물건명",
                              "properties": {}
                            },
                            "usbdNft": {
                              "type": "integer",
                              "description": "유찰횟수(회)",
                              "properties": {}
                            },
                            "bidPrgnNft": {
                              "type": "integer",
                              "description": "입찰진행횟수(회)",
                              "properties": {}
                            },
                            "dtbtRqrMtrsList": {
                              "type": "array",
                              "description": "[권리분석 기초정보] 배분요구사항목록(재산유형코드가 압류재산(0007)인 경우만 표시)",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "rgtRelCdNm": {
                                    "type": "string",
                                    "description": "권리종류",
                                    "properties": {}
                                  },
                                  "acpmPrptBondDclFlnm": {
                                    "type": "string",
                                    "description": "권리자명",
                                    "properties": {}
                                  },
                                  "stngYmd": {
                                    "type": "string",
                                    "description": "설정일자(yyyyMMdd)",
                                    "properties": {}
                                  },
                                  "bondDclrStngAmt": {
                                    "type": "integer",
                                    "description": "설정금액(원)",
                                    "properties": {}
                                  },
                                  "dtbtRqrYn": {
                                    "type": "string",
                                    "description": "배분요구여부(Y/N)",
                                    "properties": {}
                                  },
                                  "dtbtRqrYmd": {
                                    "type": "string",
                                    "description": "배분요구일자(yyyyMMdd)",
                                    "properties": {}
                                  },
                                  "dtbtRqrAmt": {
                                    "type": "integer",
                                    "description": "배분요구채권금액(원)",
                                    "properties": {}
                                  },
                                  "ersrPsblYn": {
                                    "type": "string",
                                    "description": "말소가능여부",
                                    "properties": {}
                                  },
                                  "etcCont": {
                                    "type": "string",
                                    "description": "기타내용",
                                    "properties": {}
                                  }
                                }
                              }
                            },
                            "ocpyRelList": {
                              "type": "array",
                              "description": "[권리분석 기초정보] 점유관계목록(재산유형코드가 압류재산(0007)인 경우만 표시)",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "ocpyRelCdNm": {
                                    "type": "string",
                                    "description": "점유관계코드명",
                                    "properties": {}
                                  },
                                  "acpmPrptOcpyIrpsFlnm": {
                                    "type": "string",
                                    "description": "점유관계인성명",
                                    "properties": {}
                                  },
                                  "ctrtYmd": {
                                    "type": "string",
                                    "description": "계약일자(yyyyMMdd)",
                                    "properties": {}
                                  },
                                  "mvinYmd": {
                                    "type": "string",
                                    "description": "전입일자(yyyyMMdd)(사업자등록신청일)",
                                    "properties": {}
                                  },
                                  "cfmtnYmd": {
                                    "type": "string",
                                    "description": "확정일자(yyyyMMdd)",
                                    "properties": {}
                                  },
                                  "acpmGrteeAmt": {
                                    "type": "integer",
                                    "description": "보증금액(원)",
                                    "properties": {}
                                  },
                                  "rntAmt": {
                                    "type": "number",
                                    "description": "차임금액(원)",
                                    "properties": {}
                                  },
                                  "lsdPartCont": {
                                    "type": "string",
                                    "description": "임차부분내용",
                                    "properties": {}
                                  }
                                }
                              }
                            },
                            "papsInf": {
                              "type": "array",
                              "description": "공매재산명세서정보",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "dlgtOrgNm": {
                                    "type": "string",
                                    "description": "처분청",
                                    "properties": {}
                                  },
                                  "mngNo": {
                                    "type": "string",
                                    "description": "관리번호",
                                    "properties": {}
                                  },
                                  "pbancYmd": {
                                    "type": "string",
                                    "description": "공매공고일자(yyyyMMdd)",
                                    "properties": {}
                                  },
                                  "dtbtRqrEdtmYmd": {
                                    "type": "string",
                                    "description": "배분요구의종기일자(yyyyMMdd)",
                                    "properties": {}
                                  },
                                  "pbctTdps": {
                                    "type": "string",
                                    "description": "공매보증금",
                                    "properties": {}
                                  },
                                  "zadr": {
                                    "type": "string",
                                    "description": "[공매재산의 표시] 지번주소",
                                    "properties": {}
                                  },
                                  "alcCont": {
                                    "type": "string",
                                    "description": "[공매재산의 표시] 지분내용",
                                    "properties": {}
                                  },
                                  "pbctEspc": {
                                    "type": "string",
                                    "description": "공매(매각)예정가격",
                                    "properties": {}
                                  },
                                  "bidPerd": {
                                    "type": "string",
                                    "description": "입찰서제출(입찰기간)",
                                    "properties": {}
                                  },
                                  "opbdYmd": {
                                    "type": "string",
                                    "description": "개찰일자",
                                    "properties": {}
                                  },
                                  "dodispDudt": {
                                    "type": "string",
                                    "description": "매각결정기일",
                                    "properties": {}
                                  },
                                  "ersrExclRgtCont": {
                                    "type": "string",
                                    "description": "말소제외권리내용",
                                    "properties": {}
                                  },
                                  "sttyEbrVldCont": {
                                    "type": "string",
                                    "description": "법정지상권유효내용",
                                    "properties": {}
                                  },
                                  "pytnMtrsCont": {
                                    "type": "string",
                                    "description": "유의사항내용",
                                    "properties": {}
                                  },
                                  "prcvYmd": {
                                    "type": "string",
                                    "description": "[공매재산 이용 및 점유현황] 조사일자(yyyyMMdd)",
                                    "properties": {}
                                  },
                                  "etcSmryCont": {
                                    "type": "string",
                                    "description": "기타요약내용",
                                    "properties": {}
                                  },
                                  "szrPrptIndctCont": {
                                    "type": "string",
                                    "description": "압류재산표시내용",
                                    "properties": {}
                                  }
                                }
                              }
                            },
                            "mdfcnDt": {
                              "type": "string",
                              "description": "최종수정일시(yyyyMMddHHmmss)",
                              "properties": {}
                            },
                            "crtnYn": {
                              "type": "string",
                              "description": "정정여부(정정내역있음 : Y, 정정내역없음 : N) 물건 항목에 대한 정정이 있었는지 여부를 나타냄. Y인 경우 물건 상세의 정정내역 항목 참고",
                              "properties": {}
                            },
                            "dspsMthodCd": {
                              "type": "string",
                              "description": "처분방식코드 (0001 : 매각0002 : 임대)",
                              "properties": {}
                            },
                            "dspsMthodNm": {
                              "type": "string",
                              "description": "처분방식명 (0001 : 매각0002 : 임대)",
                              "properties": {}
                            },
                            "pvctTrgtYn": {
                              "type": "string",
                              "description": "수의계약가능여부(수의계약 가능 : Y, 수의계약 불가능 : N)",
                              "properties": {}
                            },
                            "batcBidYn": {
                              "type": "string",
                              "description": "일괄입찰여부(일괄입찰 : Y, 일괄입찰아님 : N) Y인 경우 일괄입찰물건목록 참고",
                              "properties": {}
                            },
                            "cltrBidBgngDt": {
                              "type": "string",
                              "description": "입찰시작일시(yyyyMMddHHmm)",
                              "properties": {}
                            },
                            "cltrBidEndDt": {
                              "type": "string",
                              "description": "입찰종료일시(yyyyMMddHHmm)",
                              "properties": {}
                            },
                            "apslEvlAmt": {
                              "type": "integer",
                              "description": "감정평가금액(원)",
                              "properties": {}
                            },
                            "lowstBidPrcIndctCont": {
                              "type": "string",
                              "description": "최저입찰가격표시내용(원) (최저입찰가격이 표시되거나 비공개로 표시, 재산유형코드가 압류재산(0007)인 경우 온비드 화면상에 공매예정가격으로 표시)",
                              "properties": {}
                            },
                            "frstBidPrc": {
                              "type": "integer",
                              "description": "[재산유형 : 캠코국유] 최초예정가액",
                              "properties": {}
                            },
                            "apslPrcCtrsLowstBidRto": {
                              "type": "number",
                              "description": "감정평가금액 대비 현재 최저입찰가격",
                              "properties": {}
                            },
                            "frstCtrsLowstBidPrcRto": {
                              "type": "number",
                              "description": "최초최저입찰가격 대비 현재 최저입찰가격",
                              "properties": {}
                            },
                            "ltnoPnu": {
                              "type": "string",
                              "description": "지번PNU코드",
                              "properties": {}
                            },
                            "rdnmPnu": {
                              "type": "string",
                              "description": "도로명PNU코드",
                              "properties": {}
                            },
                            "lctnSdnm": {
                              "type": "string",
                              "description": "소재지지번주소(시도)",
                              "properties": {}
                            },
                            "lctnSggnm": {
                              "type": "string",
                              "description": "소재지지번주소(시군구)",
                              "properties": {}
                            },
                            "lctnEmdNm": {
                              "type": "string",
                              "description": "소재지지번주소(읍면동)",
                              "properties": {}
                            },
                            "rqstOrgNm": {
                              "type": "string",
                              "description": "[압류재산] 의뢰기관명",
                              "properties": {}
                            },
                            "orgNm": {
                              "type": "string",
                              "description": "공고기관명",
                              "properties": {}
                            },
                            "eltrGrprUseYn": {
                              "type": "string",
                              "description": "전자보증서 가능 : Y, 불가능 : N",
                              "properties": {}
                            },
                            "collbBidPsblYn": {
                              "type": "string",
                              "description": "공동입찰 가능 : Y, 불가능 : N",
                              "properties": {}
                            },
                            "twtmGthrBidPsblYn": {
                              "type": "string",
                              "description": "2회이상 입찰가능 : Y, 불가능 : N",
                              "properties": {}
                            },
                            "subtBidPsblYn": {
                              "type": "string",
                              "description": "대리입찰가능 : Y, 불가능 : N",
                              "properties": {}
                            },
                            "evcRsbyTrgtCont": {
                              "type": "string",
                              "description": "낙찰 후 인도/인수 책임",
                              "properties": {}
                            },
                            "landSqms": {
                              "type": "number",
                              "description": "토지면적(m2)",
                              "properties": {}
                            },
                            "bldSqms": {
                              "type": "number",
                              "description": "건물면적(m2)",
                              "properties": {}
                            },
                            "alcYn": {
                              "type": "string",
                              "description": "지분물건여부",
                              "properties": {}
                            },
                            "dtbtRqrEdtmCont": {
                              "type": "string",
                              "description": "배분요구종기",
                              "properties": {}
                            },
                            "rentMthodNm": {
                              "type": "string",
                              "description": "[처분방식 : 임대] 임대방식(1년미만(임대),고정형 임대,변동형 임대,매출연동 임대)",
                              "properties": {}
                            },
                            "rentPerdCont": {
                              "type": "string",
                              "description": "[처분방식 : 임대] 임대기간내용",
                              "properties": {}
                            },
                            "zadrNm": {
                              "type": "string",
                              "description": "소재지지번주소(전체)",
                              "properties": {}
                            },
                            "cltrRadr": {
                              "type": "string",
                              "description": "소재지도로명주소(전체)",
                              "properties": {}
                            },
                            "locVntyPscdCont": {
                              "type": "string",
                              "description": "위치 및 부근현황",
                              "properties": {}
                            },
                            "icdlCdtnCont": {
                              "type": "string",
                              "description": "부대조건",
                              "properties": {}
                            },
                            "utlzPscdCont": {
                              "type": "string",
                              "description": "이용현황",
                              "properties": {}
                            },
                            "cltrEtcCont": {
                              "type": "string",
                              "description": "기타정보",
                              "properties": {}
                            },
                            "dsplVldCont": {
                              "type": "string",
                              "description": "매각유효내용(공매재산에 대해 등기된 권리 또는 가처분으로서 매각으로 효력을 잃지 아니하는 것) (※재산유형코드가 압류재산(0007)인 경우만 표시)",
                              "properties": {}
                            },
                            "purrQlfcCont": {
                              "type": "string",
                              "description": "매수인자격내용(공매재산의 매수인으로서 일정한 자격을 필요로 하는 경우 그 사실) (※재산유형코드가 압류재산(0007)인 경우만 표시)",
                              "properties": {}
                            },
                            "pytnMtrsCont": {
                              "type": "string",
                              "description": "유의사항(※재산유형코드가 압류재산(0007)인 경우만 표시)",
                              "properties": {}
                            },
                            "frstPbancYmd": {
                              "type": "string",
                              "description": "최초공고일자(yyyyMMdd)(※재산유형코드가 압류재산(0007)인 경우만 표시)",
                              "properties": {}
                            },
                            "potoUrlList": {
                              "type": "array",
                              "description": "물건사진URL 목록",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "urlAdr": {
                                    "type": "string",
                                    "description": "URL주소",
                                    "properties": {}
                                  }
                                }
                              }
                            },
                            "poto360DgrUrlList": {
                              "type": "string",
                              "description": "360도사진URL 목록 (복수일 경우 구분자 : |)",
                              "properties": {}
                            },
                            "vdoUrlAdrList": {
                              "type": "string",
                              "description": "동영상URL",
                              "properties": {}
                            },
                            "lrmUrlAdrList": {
                              "type": "string",
                              "description": "지적도URL 목록 (복수일 경우 구분자 : |)",
                              "properties": {}
                            },
                            "lmapUrlAdrList": {
                              "type": "string",
                              "description": "위치도URL 목록 (복수일 경우 구분자 : |)",
                              "properties": {}
                            },
                            "batcBidCltrClgList": {
                              "type": "array",
                              "description": "일괄입찰물건목록",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "dspsMthodCd": {
                                    "type": "string",
                                    "description": "처분방식코드 (0001 : 매각, 0002 : 임대)",
                                    "properties": {}
                                  },
                                  "dspsMthodNm": {
                                    "type": "string",
                                    "description": "처분방식코드명 (0001 : 매각, 0002 : 임대)",
                                    "properties": {}
                                  },
                                  "cltrUsgLclsCtgrId": {
                                    "type": "string",
                                    "description": "용도대분류코드",
                                    "properties": {}
                                  },
                                  "cltrUsgMclsCtgrId": {
                                    "type": "string",
                                    "description": "용도중분류코드",
                                    "properties": {}
                                  },
                                  "cltrUsgSclsCtgrId": {
                                    "type": "string",
                                    "description": "용도소분류코드",
                                    "properties": {}
                                  },
                                  "cltrUsgLclsCtgrNm": {
                                    "type": "string",
                                    "description": "용도대분류코드명",
                                    "properties": {}
                                  },
                                  "cltrUsgMclsCtgrNm": {
                                    "type": "string",
                                    "description": "용도중분류코드명",
                                    "properties": {}
                                  },
                                  "cltrUsgSclsCtgrNm": {
                                    "type": "string",
                                    "description": "용도소분류코드명",
                                    "properties": {}
                                  },
                                  "onbidCltrNm": {
                                    "type": "string",
                                    "description": "물건명",
                                    "properties": {}
                                  },
                                  "usbdNft": {
                                    "type": "integer",
                                    "description": "유찰횟수(회)",
                                    "properties": {}
                                  },
                                  "landSqms": {
                                    "type": "number",
                                    "description": "토지면적(㎡)",
                                    "properties": {}
                                  },
                                  "bldSqms": {
                                    "type": "number",
                                    "description": "건물면적(㎡)",
                                    "properties": {}
                                  },
                                  "apslEvlAmt": {
                                    "type": "integer",
                                    "description": "감정평가금액(원)",
                                    "properties": {}
                                  },
                                  "cltrMngNo": {
                                    "type": "string",
                                    "description": "물건관리번호",
                                    "properties": {}
                                  },
                                  "prptDivCd": {
                                    "type": "string",
                                    "description": "재산유형코드 (0007 : 압류재산, 0010 : 국유재산, 0005 : 기타일반재산, 0004 : 불용품, 0002 : 공유재산, 0003 : 금융권담보재산, 0006 : 유입재산, 0008 : 수탁재산, 0011 : 공공개발재산)",
                                    "properties": {}
                                  },
                                  "prptDivNm": {
                                    "type": "string",
                                    "description": "재산유형코드명 (0007 : 압류재산, 0010 : 국유재산, 0005 : 기타일반재산, 0004 : 불용품, 0002 : 공유재산, 0003 : 금융권담보재산, 0006 : 유입재산, 0008 : 수탁재산, 0011 : 공공개발재산)",
                                    "properties": {}
                                  }
                                }
                              }
                            },
                            "crtnLstClgList": {
                              "type": "array",
                              "description": "정정내역",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "crtnYmd": {
                                    "type": "string",
                                    "description": "정정일자(yyyyMMdd)",
                                    "properties": {}
                                  },
                                  "crtnItemCont": {
                                    "type": "string",
                                    "description": "변경항목",
                                    "properties": {}
                                  },
                                  "bfmdfLstCont": {
                                    "type": "string",
                                    "description": "변경전 내용",
                                    "properties": {}
                                  },
                                  "afmdfLstCont": {
                                    "type": "string",
                                    "description": "변경후 내용",
                                    "properties": {}
                                  }
                                }
                              }
                            },
                            "pbctNo": {
                              "type": "integer",
                              "description": "공매번호",
                              "properties": {}
                            },
                            "pbctNsq": {
                              "type": "string",
                              "description": "회차",
                              "properties": {}
                            },
                            "pbctsn": {
                              "type": "string",
                              "description": "차수(2026.1.1 이후 확정된 공고는 차수 표시되지 않음)",
                              "properties": {}
                            },
                            "prptDivCd": {
                              "type": "string",
                              "description": "재산유형코드 (0007 : 압류재산, 0010 : 국유재산, 0005 : 기타일반재산, 0004 : 불용품, 0002 : 공유재산, 0003 : 금융권담보재산, 0006 : 유입재산, 0008 : 수탁재산, 0011 : 공공개발재산, 0013: 파산자산)",
                              "properties": {}
                            },
                            "prptDivNm": {
                              "type": "string",
                              "description": "재산유형코드명 (0007 : 압류재산, 0010 : 국유재산, 0005 : 기타일반재산, 0004 : 불용품, 0002 : 공유재산, 0003 : 금융권담보재산, 0006 : 유입재산, 0008 : 수탁재산, 0011 : 공공개발재산, 0013: 파산자산)",
                              "properties": {}
                            },
                            "feeRate": {
                              "type": "number",
                              "description": "할인율(%)",
                              "properties": {}
                            },
                            "pbctStatCd": {
                              "type": "string",
                              "description": "입찰결과구분코드 (0001 : 입찰준비중, 0002 : 입찰진행중, 0003 : 입찰마감, 0006 : 개찰중, 0009 : 수의계약가능, 0010 : 낙찰, 0011 : 유찰, 0012 : 취소)",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "pageNo": {
                      "type": "string",
                      "description": "페이지수",
                      "properties": {}
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "데이터 총 개수",
                      "properties": {}
                    },
                    "numOfRows": {
                      "type": "string",
                      "description": "한 페이지 결과 수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "부동산 물건상세정보 조회",
        "description": "부동산 물건목록에서 제공되는 물건관리번호와 공매조건번호로 조회하면 물건관리번호, 물건명, 지목, 면적, 공고공지사항, 일괄입찰물건, 감정평가정보, 임대차정보, 등기사항증명서주요정보목록, 사진URL, 동영상URL, 위치도URL, 지번PNU코드, 도로명PNU코드 등의 정보를 제공합니다.",
        "operationId": "getRlstDtlInf2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pageNo",
          "description": "페이지번호",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "numOfRows",
          "description": "한 페이지 결과 수",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "resultType",
          "description": "응답유형",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "cltrMngNo",
          "description": "물건관리번호(물건목록에서 제공)",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "pbctCdtnNo",
          "description": "공매조건번호(물건목록에서 제공)",
          "type": "integer",
          "required": false,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "getRlstDtlInf2_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메세지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "pbctStatNm": {
                      "type": "string",
                      "description": "입찰결과구분코드명 (0001 : 입찰준비중, 0002 : 입찰진행중, 0003 : 입찰마감, 0006 : 개찰중, 0009 : 수의계약가능, 0010 : 낙찰, 0011 : 유찰, 0012 : 취소)"
                    },
                    "pbctCdtnNo": {
                      "type": "integer",
                      "description": "공매조건번호(물건 상세정보나 입찰정보 조회시 물건관리번호와 함께 입력 필요)"
                    },
                    "cltrMngNo": {
                      "type": "string",
                      "description": "물건관리번호"
                    },
                    "onbidCltrno": {
                      "type": "integer",
                      "description": "온비드물건번호"
                    },
                    "onbidPbancNo": {
                      "type": "integer",
                      "description": "온비드공고번호"
                    },
                    "sqmsList": {
                      "type": "array",
                      "description": "면적정보목록",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clandCont": {
                            "type": "string",
                            "description": "종별(지목)"
                          },
                          "sqmsCont": {
                            "type": "string",
                            "description": "면적(㎡)"
                          },
                          "pursAlcCont": {
                            "type": "string",
                            "description": "지분"
                          },
                          "dtlCltrNm": {
                            "type": "string",
                            "description": "비고"
                          }
                        }
                      }
                    },
                    "apslEvlClgList": {
                      "type": "array",
                      "description": "감정평가정보목록",
                      "items": {
                        "type": "object",
                        "properties": {
                          "apslEvlOrgNm": {
                            "type": "string",
                            "description": "감정평가기관"
                          },
                          "apslApprNm": {
                            "type": "string",
                            "description": "감정평가사명"
                          },
                          "apslEvlYmd": {
                            "type": "string",
                            "description": "평가일(yyyyMMdd)"
                          },
                          "apslEvlAmt": {
                            "type": "integer",
                            "description": "감정평가금액(원)"
                          },
                          "urlAdr": {
                            "type": "string",
                            "description": "감정평가서첨부파일 URL"
                          }
                        }
                      }
                    },
                    "leasInfList": {
                      "type": "array",
                      "description": "임대차정보목록(감정평가서 및 배분요구서 기준)(재산유형코드가 압류재산(0007)인 경우만 표시)",
                      "items": {
                        "type": "object",
                        "properties": {
                          "irstDivNm": {
                            "type": "string",
                            "description": "임대차내용"
                          },
                          "cltrInprNm": {
                            "type": "string",
                            "description": "성명"
                          },
                          "bidGrteeAmt": {
                            "type": "integer",
                            "description": "보증금액(원)"
                          },
                          "mthrAmt": {
                            "type": "number",
                            "description": "차임(월세금액)(원)"
                          },
                          "convGrteeAmt": {
                            "type": "number",
                            "description": "환산보증금액(원)"
                          },
                          "cfmtnYmd": {
                            "type": "string",
                            "description": "확정일자(yyyyMMdd)"
                          },
                          "mvinYmd": {
                            "type": "string",
                            "description": "전입일자(yyyyMMdd)"
                          }
                        }
                      }
                    },
                    "rgstPrmrInfList": {
                      "type": "array",
                      "description": "등기사항증명서 주요정보 목록(재산유형코드가 압류재산(0007)인 경우만 표시)",
                      "items": {
                        "type": "object",
                        "properties": {
                          "inprStngAmt": {
                            "type": "integer",
                            "description": "설정금액(원)"
                          },
                          "irstDivNm": {
                            "type": "string",
                            "description": "권리종류명"
                          },
                          "cltrInprNm": {
                            "type": "string",
                            "description": "권리자명"
                          },
                          "rgstYmd": {
                            "type": "string",
                            "description": "등기 설정일자(yyyyMMdd)"
                          }
                        }
                      }
                    },
                    "bidMthodCd": {
                      "type": "string",
                      "description": "세부입찰방식코드 (0001 : 최고가방식, 0002 : 호가방식, 0003 : 평가방식, 0004 : 추첨방식, 0005 : 시담방식, 0006:적정최고가방식, 0007:제한적최고가방식)"
                    },
                    "bidMthodNm": {
                      "type": "string",
                      "description": "세부입찰방식코드명 (0001 : 최고가방식, 0002 : 호가방식, 0003 : 평가방식, 0004 : 추첨방식, 0005 : 시담방식, 0006:적정최고가방식, 0007:제한적최고가방식)"
                    },
                    "cptnMthodCd": {
                      "type": "string",
                      "description": "입찰방식코드(0001 : 일반경쟁, 0002 : 제한경쟁, 0003 : 지명경쟁, 0004 : 수의계약)"
                    },
                    "cptnMthodNm": {
                      "type": "string",
                      "description": "입찰방식코드명(0001 : 일반경쟁, 0002 : 제한경쟁, 0003 : 지명경쟁, 0004 : 수의계약)"
                    },
                    "totalamtUnpcDivCd": {
                      "type": "string",
                      "description": "총액/단가구분코드(0001 : 총액, 0002 : 단가)"
                    },
                    "totalamtUnpcDivNm": {
                      "type": "string",
                      "description": "총액/단가구분명(0001 : 총액, 0002 : 단가)"
                    },
                    "bidDivCd": {
                      "type": "string",
                      "description": "입찰구분코드 (0001:인터넷, 0002:현장)"
                    },
                    "bidDivNm": {
                      "type": "string",
                      "description": "입찰구분코드명 (0001:인터넷, 0002:현장)"
                    },
                    "cltrUsgLclsCtgrId": {
                      "type": "string",
                      "description": "용도대분류코드"
                    },
                    "cltrUsgMclsCtgrId": {
                      "type": "string",
                      "description": "용도중분류코드"
                    },
                    "cltrUsgSclsCtgrId": {
                      "type": "string",
                      "description": "용도소분류코드"
                    },
                    "cltrUsgLclsCtgrNm": {
                      "type": "string",
                      "description": "용도대분류코드명"
                    },
                    "cltrUsgMclsCtgrNm": {
                      "type": "string",
                      "description": "용도중분류코드명"
                    },
                    "cltrUsgSclsCtgrNm": {
                      "type": "string",
                      "description": "용도소분류코드명"
                    },
                    "onbidCltrNm": {
                      "type": "string",
                      "description": "물건명"
                    },
                    "usbdNft": {
                      "type": "integer",
                      "description": "유찰횟수(회)"
                    },
                    "bidPrgnNft": {
                      "type": "integer",
                      "description": "입찰진행횟수(회)"
                    },
                    "dtbtRqrMtrsList": {
                      "type": "array",
                      "description": "[권리분석 기초정보] 배분요구사항목록(재산유형코드가 압류재산(0007)인 경우만 표시)",
                      "items": {
                        "type": "object",
                        "properties": {
                          "rgtRelCdNm": {
                            "type": "string",
                            "description": "권리종류"
                          },
                          "acpmPrptBondDclFlnm": {
                            "type": "string",
                            "description": "권리자명"
                          },
                          "stngYmd": {
                            "type": "string",
                            "description": "설정일자(yyyyMMdd)"
                          },
                          "bondDclrStngAmt": {
                            "type": "integer",
                            "description": "설정금액(원)"
                          },
                          "dtbtRqrYn": {
                            "type": "string",
                            "description": "배분요구여부(Y/N)"
                          },
                          "dtbtRqrYmd": {
                            "type": "string",
                            "description": "배분요구일자(yyyyMMdd)"
                          },
                          "dtbtRqrAmt": {
                            "type": "integer",
                            "description": "배분요구채권금액(원)"
                          },
                          "ersrPsblYn": {
                            "type": "string",
                            "description": "말소가능여부"
                          },
                          "etcCont": {
                            "type": "string",
                            "description": "기타내용"
                          }
                        }
                      }
                    },
                    "ocpyRelList": {
                      "type": "array",
                      "description": "[권리분석 기초정보] 점유관계목록(재산유형코드가 압류재산(0007)인 경우만 표시)",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ocpyRelCdNm": {
                            "type": "string",
                            "description": "점유관계코드명"
                          },
                          "acpmPrptOcpyIrpsFlnm": {
                            "type": "string",
                            "description": "점유관계인성명"
                          },
                          "ctrtYmd": {
                            "type": "string",
                            "description": "계약일자(yyyyMMdd)"
                          },
                          "mvinYmd": {
                            "type": "string",
                            "description": "전입일자(yyyyMMdd)(사업자등록신청일)"
                          },
                          "cfmtnYmd": {
                            "type": "string",
                            "description": "확정일자(yyyyMMdd)"
                          },
                          "acpmGrteeAmt": {
                            "type": "integer",
                            "description": "보증금액(원)"
                          },
                          "rntAmt": {
                            "type": "number",
                            "description": "차임금액(원)"
                          },
                          "lsdPartCont": {
                            "type": "string",
                            "description": "임차부분내용"
                          }
                        }
                      }
                    },
                    "papsInf": {
                      "type": "array",
                      "description": "공매재산명세서정보",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dlgtOrgNm": {
                            "type": "string",
                            "description": "처분청"
                          },
                          "mngNo": {
                            "type": "string",
                            "description": "관리번호"
                          },
                          "pbancYmd": {
                            "type": "string",
                            "description": "공매공고일자(yyyyMMdd)"
                          },
                          "dtbtRqrEdtmYmd": {
                            "type": "string",
                            "description": "배분요구의종기일자(yyyyMMdd)"
                          },
                          "pbctTdps": {
                            "type": "string",
                            "description": "공매보증금"
                          },
                          "zadr": {
                            "type": "string",
                            "description": "[공매재산의 표시] 지번주소"
                          },
                          "alcCont": {
                            "type": "string",
                            "description": "[공매재산의 표시] 지분내용"
                          },
                          "pbctEspc": {
                            "type": "string",
                            "description": "공매(매각)예정가격"
                          },
                          "bidPerd": {
                            "type": "string",
                            "description": "입찰서제출(입찰기간)"
                          },
                          "opbdYmd": {
                            "type": "string",
                            "description": "개찰일자"
                          },
                          "dodispDudt": {
                            "type": "string",
                            "description": "매각결정기일"
                          },
                          "ersrExclRgtCont": {
                            "type": "string",
                            "description": "말소제외권리내용"
                          },
                          "sttyEbrVldCont": {
                            "type": "string",
                            "description": "법정지상권유효내용"
                          },
                          "pytnMtrsCont": {
                            "type": "string",
                            "description": "유의사항내용"
                          },
                          "prcvYmd": {
                            "type": "string",
                            "description": "[공매재산 이용 및 점유현황] 조사일자(yyyyMMdd)"
                          },
                          "etcSmryCont": {
                            "type": "string",
                            "description": "기타요약내용"
                          },
                          "szrPrptIndctCont": {
                            "type": "string",
                            "description": "압류재산표시내용"
                          }
                        }
                      }
                    },
                    "mdfcnDt": {
                      "type": "string",
                      "description": "최종수정일시(yyyyMMddHHmmss)"
                    },
                    "crtnYn": {
                      "type": "string",
                      "description": "정정여부(정정내역있음 : Y, 정정내역없음 : N) 물건 항목에 대한 정정이 있었는지 여부를 나타냄. Y인 경우 물건 상세의 정정내역 항목 참고"
                    },
                    "dspsMthodCd": {
                      "type": "string",
                      "description": "처분방식코드 (0001 : 매각0002 : 임대)"
                    },
                    "dspsMthodNm": {
                      "type": "string",
                      "description": "처분방식명 (0001 : 매각0002 : 임대)"
                    },
                    "pvctTrgtYn": {
                      "type": "string",
                      "description": "수의계약가능여부(수의계약 가능 : Y, 수의계약 불가능 : N)"
                    },
                    "batcBidYn": {
                      "type": "string",
                      "description": "일괄입찰여부(일괄입찰 : Y, 일괄입찰아님 : N) Y인 경우 일괄입찰물건목록 참고"
                    },
                    "cltrBidBgngDt": {
                      "type": "string",
                      "description": "입찰시작일시(yyyyMMddHHmm)"
                    },
                    "cltrBidEndDt": {
                      "type": "string",
                      "description": "입찰종료일시(yyyyMMddHHmm)"
                    },
                    "apslEvlAmt": {
                      "type": "integer",
                      "description": "감정평가금액(원)"
                    },
                    "lowstBidPrcIndctCont": {
                      "type": "string",
                      "description": "최저입찰가격표시내용(원) (최저입찰가격이 표시되거나 비공개로 표시, 재산유형코드가 압류재산(0007)인 경우 온비드 화면상에 공매예정가격으로 표시)"
                    },
                    "frstBidPrc": {
                      "type": "integer",
                      "description": "[재산유형 : 캠코국유] 최초예정가액"
                    },
                    "apslPrcCtrsLowstBidRto": {
                      "type": "number",
                      "description": "감정평가금액 대비 현재 최저입찰가격"
                    },
                    "frstCtrsLowstBidPrcRto": {
                      "type": "number",
                      "description": "최초최저입찰가격 대비 현재 최저입찰가격"
                    },
                    "ltnoPnu": {
                      "type": "string",
                      "description": "지번PNU코드"
                    },
                    "rdnmPnu": {
                      "type": "string",
                      "description": "도로명PNU코드"
                    },
                    "lctnSdnm": {
                      "type": "string",
                      "description": "소재지지번주소(시도)"
                    },
                    "lctnSggnm": {
                      "type": "string",
                      "description": "소재지지번주소(시군구)"
                    },
                    "lctnEmdNm": {
                      "type": "string",
                      "description": "소재지지번주소(읍면동)"
                    },
                    "rqstOrgNm": {
                      "type": "string",
                      "description": "[압류재산] 의뢰기관명"
                    },
                    "orgNm": {
                      "type": "string",
                      "description": "공고기관명"
                    },
                    "eltrGrprUseYn": {
                      "type": "string",
                      "description": "전자보증서 가능 : Y, 불가능 : N"
                    },
                    "collbBidPsblYn": {
                      "type": "string",
                      "description": "공동입찰 가능 : Y, 불가능 : N"
                    },
                    "twtmGthrBidPsblYn": {
                      "type": "string",
                      "description": "2회이상 입찰가능 : Y, 불가능 : N"
                    },
                    "subtBidPsblYn": {
                      "type": "string",
                      "description": "대리입찰가능 : Y, 불가능 : N"
                    },
                    "evcRsbyTrgtCont": {
                      "type": "string",
                      "description": "낙찰 후 인도/인수 책임"
                    },
                    "landSqms": {
                      "type": "number",
                      "description": "토지면적(m2)"
                    },
                    "bldSqms": {
                      "type": "number",
                      "description": "건물면적(m2)"
                    },
                    "alcYn": {
                      "type": "string",
                      "description": "지분물건여부"
                    },
                    "dtbtRqrEdtmCont": {
                      "type": "string",
                      "description": "배분요구종기"
                    },
                    "rentMthodNm": {
                      "type": "string",
                      "description": "[처분방식 : 임대] 임대방식(1년미만(임대),고정형 임대,변동형 임대,매출연동 임대)"
                    },
                    "rentPerdCont": {
                      "type": "string",
                      "description": "[처분방식 : 임대] 임대기간내용"
                    },
                    "zadrNm": {
                      "type": "string",
                      "description": "소재지지번주소(전체)"
                    },
                    "cltrRadr": {
                      "type": "string",
                      "description": "소재지도로명주소(전체)"
                    },
                    "locVntyPscdCont": {
                      "type": "string",
                      "description": "위치 및 부근현황"
                    },
                    "icdlCdtnCont": {
                      "type": "string",
                      "description": "부대조건"
                    },
                    "utlzPscdCont": {
                      "type": "string",
                      "description": "이용현황"
                    },
                    "cltrEtcCont": {
                      "type": "string",
                      "description": "기타정보"
                    },
                    "dsplVldCont": {
                      "type": "string",
                      "description": "매각유효내용(공매재산에 대해 등기된 권리 또는 가처분으로서 매각으로 효력을 잃지 아니하는 것) (※재산유형코드가 압류재산(0007)인 경우만 표시)"
                    },
                    "purrQlfcCont": {
                      "type": "string",
                      "description": "매수인자격내용(공매재산의 매수인으로서 일정한 자격을 필요로 하는 경우 그 사실) (※재산유형코드가 압류재산(0007)인 경우만 표시)"
                    },
                    "pytnMtrsCont": {
                      "type": "string",
                      "description": "유의사항(※재산유형코드가 압류재산(0007)인 경우만 표시)"
                    },
                    "frstPbancYmd": {
                      "type": "string",
                      "description": "최초공고일자(yyyyMMdd)(※재산유형코드가 압류재산(0007)인 경우만 표시)"
                    },
                    "potoUrlList": {
                      "type": "array",
                      "description": "물건사진URL 목록",
                      "items": {
                        "type": "object",
                        "properties": {
                          "urlAdr": {
                            "type": "string",
                            "description": "URL주소"
                          }
                        }
                      }
                    },
                    "poto360DgrUrlList": {
                      "type": "string",
                      "description": "360도사진URL 목록 (복수일 경우 구분자 : |)"
                    },
                    "vdoUrlAdrList": {
                      "type": "string",
                      "description": "동영상URL"
                    },
                    "lrmUrlAdrList": {
                      "type": "string",
                      "description": "지적도URL 목록 (복수일 경우 구분자 : |)"
                    },
                    "lmapUrlAdrList": {
                      "type": "string",
                      "description": "위치도URL 목록 (복수일 경우 구분자 : |)"
                    },
                    "batcBidCltrClgList": {
                      "type": "array",
                      "description": "일괄입찰물건목록",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dspsMthodCd": {
                            "type": "string",
                            "description": "처분방식코드 (0001 : 매각, 0002 : 임대)"
                          },
                          "dspsMthodNm": {
                            "type": "string",
                            "description": "처분방식코드명 (0001 : 매각, 0002 : 임대)"
                          },
                          "cltrUsgLclsCtgrId": {
                            "type": "string",
                            "description": "용도대분류코드"
                          },
                          "cltrUsgMclsCtgrId": {
                            "type": "string",
                            "description": "용도중분류코드"
                          },
                          "cltrUsgSclsCtgrId": {
                            "type": "string",
                            "description": "용도소분류코드"
                          },
                          "cltrUsgLclsCtgrNm": {
                            "type": "string",
                            "description": "용도대분류코드명"
                          },
                          "cltrUsgMclsCtgrNm": {
                            "type": "string",
                            "description": "용도중분류코드명"
                          },
                          "cltrUsgSclsCtgrNm": {
                            "type": "string",
                            "description": "용도소분류코드명"
                          },
                          "onbidCltrNm": {
                            "type": "string",
                            "description": "물건명"
                          },
                          "usbdNft": {
                            "type": "integer",
                            "description": "유찰횟수(회)"
                          },
                          "landSqms": {
                            "type": "number",
                            "description": "토지면적(㎡)"
                          },
                          "bldSqms": {
                            "type": "number",
                            "description": "건물면적(㎡)"
                          },
                          "apslEvlAmt": {
                            "type": "integer",
                            "description": "감정평가금액(원)"
                          },
                          "cltrMngNo": {
                            "type": "string",
                            "description": "물건관리번호"
                          },
                          "prptDivCd": {
                            "type": "string",
                            "description": "재산유형코드 (0007 : 압류재산, 0010 : 국유재산, 0005 : 기타일반재산, 0004 : 불용품, 0002 : 공유재산, 0003 : 금융권담보재산, 0006 : 유입재산, 0008 : 수탁재산, 0011 : 공공개발재산)"
                          },
                          "prptDivNm": {
                            "type": "string",
                            "description": "재산유형코드명 (0007 : 압류재산, 0010 : 국유재산, 0005 : 기타일반재산, 0004 : 불용품, 0002 : 공유재산, 0003 : 금융권담보재산, 0006 : 유입재산, 0008 : 수탁재산, 0011 : 공공개발재산)"
                          }
                        }
                      }
                    },
                    "crtnLstClgList": {
                      "type": "array",
                      "description": "정정내역",
                      "items": {
                        "type": "object",
                        "properties": {
                          "crtnYmd": {
                            "type": "string",
                            "description": "정정일자(yyyyMMdd)"
                          },
                          "crtnItemCont": {
                            "type": "string",
                            "description": "변경항목"
                          },
                          "bfmdfLstCont": {
                            "type": "string",
                            "description": "변경전 내용"
                          },
                          "afmdfLstCont": {
                            "type": "string",
                            "description": "변경후 내용"
                          }
                        }
                      }
                    },
                    "pbctNo": {
                      "type": "integer",
                      "description": "공매번호"
                    },
                    "pbctNsq": {
                      "type": "string",
                      "description": "회차"
                    },
                    "pbctsn": {
                      "type": "string",
                      "description": "차수(2026.1.1 이후 확정된 공고는 차수 표시되지 않음)"
                    },
                    "prptDivCd": {
                      "type": "string",
                      "description": "재산유형코드 (0007 : 압류재산, 0010 : 국유재산, 0005 : 기타일반재산, 0004 : 불용품, 0002 : 공유재산, 0003 : 금융권담보재산, 0006 : 유입재산, 0008 : 수탁재산, 0011 : 공공개발재산, 0013: 파산자산)"
                    },
                    "prptDivNm": {
                      "type": "string",
                      "description": "재산유형코드명 (0007 : 압류재산, 0010 : 국유재산, 0005 : 기타일반재산, 0004 : 불용품, 0002 : 공유재산, 0003 : 금융권담보재산, 0006 : 유입재산, 0008 : 수탁재산, 0011 : 공공개발재산, 0013: 파산자산)"
                    },
                    "feeRate": {
                      "type": "number",
                      "description": "할인율(%)"
                    },
                    "pbctStatCd": {
                      "type": "string",
                      "description": "입찰결과구분코드 (0001 : 입찰준비중, 0002 : 입찰진행중, 0003 : 입찰마감, 0006 : 개찰중, 0009 : 수의계약가능, 0010 : 낙찰, 0011 : 유찰, 0012 : 취소)"
                    }
                  }
                }
              }
            },
            "pageNo": {
              "type": "string",
              "description": "페이지수"
            },
            "totalCount": {
              "type": "string",
              "description": "데이터 총 개수"
            },
            "numOfRows": {
              "type": "string",
              "description": "한 페이지 결과 수"
            }
          }
        }
      }
    }
  },
  "swaggerOprtinVOs": [
    {
      "oprtinUrl": "https://open.kamco.or.kr/services/OnbidRlstDtlSrvc/getRlstDtlInf",
      "oprtinNm": "부동산 물건상세정보 조회",
      "oprtinDc": "부동산 물건목록에서 제공되는 물건관리번호와 공매조건번호로 조회하면 물건관리번호, 물건명, 지목, 면적, 공고공지사항, 일괄입찰물건, 감정평가정보, 임대차정보, 등기사항증명서주요정보목록, 사진URL, 동영상URL, 위치도URL, 지번PNU코드, 도로명PNU코드 등의 정보를 제공합니다.",
      "gwSvcNm": "getRlstDtlInf",
      "operationId": "getRlstDtlInf",
      "publicDataTyDetailCode": "PRDE02",
      "reqList": [
        {
          "paramtrNm": "serviceKey",
          "paramtrDc": "공공데이터포털에서 받은 인증키",
          "paramtrBassValue": "-",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "pageNo",
          "paramtrDc": "페이지번호",
          "paramtrBassValue": "1",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "numOfRows",
          "paramtrDc": "한 페이지 결과 수",
          "paramtrBassValue": "10",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "resultType",
          "paramtrDc": "응답유형",
          "paramtrBassValue": "json",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "cltrMngNo",
          "paramtrDc": "물건관리번호(물건목록에서 제공)",
          "paramtrBassValue": "2024-1100-084555",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "pbctCdtnNo",
          "paramtrDc": "공매조건번호(물건목록에서 제공)",
          "paramtrBassValue": "3621804",
          "paramtrTy": "integer",
          "paramtrDivision": "옵션",
          "ck": true
        }
      ],
      "resList": [
        {
          "paramtrNm": "header",
          "paramtrDc": "header",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/oper-1-header",
          "subDefNm": "oper-1-header",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "resultCode",
              "paramtrDc": "결과코드",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "resultMsg",
              "paramtrDc": "결과메세지",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            }
          ]
        },
        {
          "paramtrNm": "body",
          "paramtrDc": "body",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/oper-1-body",
          "subDefNm": "oper-1-body",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "items",
              "paramtrDc": "items",
              "arrayYn": "N",
              "paramtrDefNm": "#/definitions/oper-1-items",
              "subDefNm": "oper-1-items",
              "paramtrTy": "object",
              "paramtrDivision": "필수",
              "ck": true,
              "subParam": [
                {
                  "paramtrNm": "item",
                  "paramtrDc": "item",
                  "arrayYn": "N",
                  "paramtrDefNm": "#/definitions/oper-1-item",
                  "subDefNm": "oper-1-item",
                  "paramtrTy": "object",
                  "paramtrDivision": "필수",
                  "ck": true,
                  "subParam": [
                    {
                      "paramtrNm": "eltrGrprUseYn",
                      "paramtrDc": "전자보증서 가능 : Y, 불가능 : N",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "collbBidPsblYn",
                      "paramtrDc": "공동입찰 가능 : Y, 불가능 : N",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "twtmGthrBidPsblYn",
                      "paramtrDc": "2회이상 입찰가능 : Y, 불가능 : N",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "subtBidPsblYn",
                      "paramtrDc": "대리입찰가능 : Y, 불가능 : N",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "lowstBidPrcIndctCont",
                      "paramtrDc": "최저입찰가격표시내용(원) (최저입찰가격이 표시되거나 비공개로 표시)",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "frstBidPrc",
                      "paramtrDc": "[재산유형 : 캠코국유] 최초예정가액",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "integer",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "apslPrcCtrsLowstBidRto",
                      "paramtrDc": "감정평가금액 대비 현재 최저입찰가격",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "number",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "frstCtrsLowstBidPrcRto",
                      "paramtrDc": "최초최저입찰가격 대비 현재 최저입찰가격",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "number",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "ltnoPnu",
                      "paramtrDc": "지번PNU코드",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "rdnmPnu",
                      "paramtrDc": "도로명PNU코드",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "lctnSdnm",
                      "paramtrDc": "소재지지번주소(시도)",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "lctnSggnm",
                      "paramtrDc": "소재지지번주소(시군구)",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "lctnEmdNm",
                      "paramtrDc": "소재지지번주소(읍면동)",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "rqstOrgNm",
                      "paramtrDc": "[압류재산] 공고기관",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "exctOrgNm",
                      "paramtrDc": "집행기관명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "totalamtUnpcDivCd",
                      "paramtrDc": "총액/단가구분코드(0001 : 총액, 0002 : 단가)",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "totalamtUnpcDivNm",
                      "paramtrDc": "총액/단가구분명(0001 : 총액, 0002 : 단가)",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "bidDivCd",
                      "paramtrDc": "입찰구분코드 (0001:인터넷, 0002:현장)",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "crtnYn",
                      "paramtrDc": "정정여부 (정정내역있음 : Y, 정정내역없음 : N) 물건 항목에 대한 정정이 있었는지 여부를 나타냄. Y인 경우 물건상세의 정정내역 항목 참고",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "mdfcnDt",
                      "paramtrDc": "최종수정일시(yyyyMMddHHmmss)",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "pbctCdtnNo",
                      "paramtrDc": "공매조건번호(물건 상세정보나 입찰정보 조회시 물건관리번호와 함께 입력 필요)",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "integer",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "pbctNsq",
                      "paramtrDc": "회차",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "dtbtRqrMtrsList",
                      "paramtrDc": "[권리분석 기초정보] 배분요구사항목록(재산유형코드가 압류재산(0007)인 경우만 표시)",
                      "arrayYn": "Y",
                      "paramtrDefNm": "#/definitions/dtbtRqrMtrsList-item",
                      "subDefNm": "dtbtRqrMtrsList-item",
                      "paramtrTy": "object",
                      "paramtrDivision": "옵션",
                      "ck": true,
                      "subParam": [
                        {
                          "paramtrNm": "acpmPrptBondDclFlnm",
                          "paramtrDc": "권리자명",
                          "arrayYn": "N",
                          "paramtrDefNm": "",
                          "paramtrTy": "string",
                          "paramtrDivision": "옵션",
                          "ck": true
                        },
                        {
                          "paramtrNm": "rgtRelCdNm",
                          "paramtrDc": "권리종류",
                          "arrayYn": "N",
                          "paramtrDefNm": "",
                          "paramtrTy": "string",
                          "paramtrDivision": "옵션",
                          "ck": true
                        },
                        {
                          "paramtrNm": "stngYmd",
                          "paramtrDc": "설정일자(yyyyMMdd)",
                          "arrayYn": "N",
                          "paramtrDefNm": "",
                          "paramtrTy": "string",
                          "paramtrDivision": "옵션",
                          "ck": true
                        },
                        {
                          "paramtrNm": "bondDclrStngAmt",
                          "paramtrDc": "설정금액(원)",
                          "arrayYn": "N",
                          "paramtrDefNm": "",
                          "paramtrTy": "integer",
                          "paramtrDivision": "옵션",
                          "ck": true
                        },
                        {
                          "paramtrNm": "dtbtRqrYn",
                          "paramtrDc": "배분요구여부(Y/N)",
                          "arrayYn": "N",
                          "paramtrDefNm": "",
                          "paramtrTy": "string",
                          "paramtrDivision": "옵션",
                          "ck": true
                        },
                        {
                          "paramtrNm": "dtbtRqrYmd",
                          "paramtrDc": "배분요구일자(yyyyMMdd)",
                          "arrayYn": "N",
                          "paramtrDefNm": "",
                          "paramtrTy": "string",
                          "paramtrDivision": "옵션",
                          "ck": true
                        },
                        {
                          "paramtrNm": "dtbtRqrAmt",
                          "paramtrDc": "배분요구채권금액(원)",
                          "arrayYn": "N",
                          "paramtrDefNm": "",
                          "paramtrTy": "integer",
                          "paramtrDivision": "옵션",
                          "ck": true
                        },
                        {
                          "paramtrNm": "ersrPsblYn",
                          "paramtrDc": "말소가능여부(Y/N)",
                          "arrayYn": "N",
                          "paramtrDefNm": "",
                          "paramtrTy": "string",
                          "paramtrDivision": "옵션",
                          "ck": true
                        },
                        {
                          "paramtrNm": "etcCont",
                          "paramtrDc": "기타내용",
                          "arrayYn": "N",
                          "paramtrDefNm": "",
                          "paramtrTy": "string",
                          "paramtrDivision": "옵션",
                          "ck": true
                        }
                      ]
                    },
                    {
                      "paramtrNm": "ocpyRelList",
                      "paramtrDc": "[권리분석 기초정보] 점유관계목록(재산유형코드가 압류재산(0007)인 경우만 표시)",
                      "arrayYn": "Y",
                      "paramtrDefNm": "#/definitions/ocpyRelList-item",
                      "subDefNm": "ocpyRelList-item",
                      "paramtrTy": "object",
                      "paramtrDivision": "옵션",
                      "ck": true,
                      "subParam": [
                        {
                          "paramtrNm": "cfmtnYmd",
                          "paramtrDc": "확정일자(yyyyMMdd)",
                          "arrayYn": "N",
                          "paramtrDefNm": "",
                          "paramtrTy": "string",
                          "paramtrDivision": "옵션",
                          "ck": true
                        },
                        {
                          "paramtrNm": "acpmGrteeAmt",
                          "paramtrDc": "보증금액(원)",
                          "arrayYn": "N",
                          "paramtrDefNm": "",
                          "paramtrTy": "integer",
                          "paramtrDivision": "옵션",
                          "ck": true
                        },
                        {
                          "paramtrNm": "rntAmt",
                          "paramtrDc": "차임금액(원)",
                          "arrayYn": "N",
                          "paramtrDefNm": "",
                          "paramtrTy": "number",
                          "paramtrDivision": "옵션",
                          "ck": true
                        },
                        {
                          "paramtrNm": "lsdPartCont",
                          "paramtrDc": "임차부분내용",
                          "arrayYn": "N",
                          "paramtrDefNm": "",
                          "paramtrTy": "string",
                          "paramtrDivision": "옵션",
                          "ck": true
                        },
                        {
                          "paramtrNm": "ocpyRelCdNm",
                          "paramtrDc": "점유관계코드명",
                          "arrayYn": "N",
                          "paramtrDefNm": "",
                          "paramtrTy": "string",
                          "paramtrDivision": "옵션",
                          "ck": true
                        },
                        {
                          "paramtrNm": "acpmPrptOcpyIrpsFlnm",
                          "paramtrDc": "점유관계인성명",
                          "arrayYn": "N",
                          "paramtrDefNm": "",
                          "paramtrTy": "string",
                          "paramtrDivision": "옵션",
                          "ck": true
                        },
                        {
                          "paramtrNm": "ctrtYmd",
                          "paramtrDc": "계약일자(yyyyMMdd)",
                          "arrayYn": "N",
                          "paramtrDefNm": "",
                          "paramtrTy": "string",
                          "paramtrDivision": "옵션",
                          "ck": true
                        },
                        {
                          "paramtrNm": "mvinYmd",
                          "paramtrDc": "전입일자(yyyyMMdd)(사업자등록신청일)",
                          "arrayYn": "N",
                          "paramtrDefNm": "",
                          "paramtrTy": "string",
                          "paramtrDivision": "옵션",
                          "ck": true
                        }
                      ]
                    },
                    {
                      "paramtrNm": "papsInf",
                      "paramtrDc": "공매재산명세서정보",
                      "arrayYn": "Y",
                      "paramtrDefNm": "#/definitions/papsInf-item",
                      "subDefNm": "papsInf-item",
                      "paramtrTy": "object",
                      "paramtrDivision": "옵션",
                      "ck": true,
                      "subParam": [
                        {
                          "paramtrNm": "dodispDudt",
                          "paramtrDc": "매각결정기일",
                          "arrayYn": "N",
                          "paramtrDefNm": "",
                          "paramtrTy": "string",
                          "paramtrDivision": "옵션",
                          "ck": true
                        },
                        {
                          "paramtrNm": "opbdYmd",
                          "paramtrDc": "개찰일자",
                          "arrayYn": "N",
                          "paramtrDefNm": "",
                          "paramtrTy": "string",
                          "paramtrDivision": "옵션",
                          "ck": true
                        },
                        {
                          "paramtrNm": "etcSmryCont",
                          "paramtrDc": "기타요약내용",
                          "arrayYn": "N",
                          "paramtrDefNm": "",
                          "paramtrTy": "string",
                          "paramtrDivision": "옵션",
                          "ck": true
                        },
                        {
                          "paramtrNm": "szrPrptIndctCont",
                          "paramtrDc": "압류재산표시내용",
                          "arrayYn": "N",
                          "paramtrDefNm": "",
                          "paramtrTy": "string",
                          "paramtrDivision": "옵션",
                          "ck": true
                        },
                        {
                          "paramtrNm": "sttyEbrVldCont",
                          "paramtrDc": "법정지상권유효내용",
                          "arrayYn": "N",
                          "paramtrDefNm": "",
                          "paramtrTy": "string",
                          "paramtrDivision": "옵션",
                          "ck": true
                        },
                        {
                          "paramtrNm": "pytnMtrsCont",
                          "paramtrDc": "유의사항내용",
                          "arrayYn": "N",
                          "paramtrDefNm": "",
                          "paramtrTy": "string",
                          "paramtrDivision": "옵션",
                          "ck": true
                        },
                        {
                          "paramtrNm": "pbctTdps",
                          "paramtrDc": "공매보증금",
                          "arrayYn": "N",
                          "paramtrDefNm": "",
                          "paramtrTy": "string",
                          "paramtrDivision": "옵션",
                          "ck": true
                        },
                        {
                          "paramtrNm": "zadr",
                          "paramtrDc": "[공매재산의 표시] 지번주소",
                          "arrayYn": "N",
                          "paramtrDefNm": "",
                          "paramtrTy": "string",
                          "paramtrDivision": "옵션",
                          "ck": true
                        },
                        {
                          "paramtrNm": "alcCont",
                          "paramtrDc": "[공매재산의 표시] 지분내용",
                          "arrayYn": "N",
                          "paramtrDefNm": "",
                          "paramtrTy": "string",
                          "paramtrDivision": "옵션",
                          "ck": true
                        },
                        {
                          "paramtrNm": "pbctEspc",
                          "paramtrDc": "공매(매각)예정가격",
                          "arrayYn": "N",
                          "paramtrDefNm": "",
[...]
